.row {
    color: white;
    margin-left: 10px;
}

.row__posters {
    display: flex;
    overflow-y: hidden;         /* Hide vertical scroll bar */
    overflow-x: scroll;         /* Allow scrolling on horizontal */
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    /* Hide the scroll bar but keep the functionally of it */
    display: none;
}

.row__poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;

    /* Delay the animation */
    transition: transform 450ms;
}

/* animation */
.row__poster:hover{
    transform: scale(1.08);
}

.row__posterLarge {
    max-height: 200px;
}

.row__poster:hover {
    transform: scale(1.09);
}